
  <div class="row" >
    <div class="col s12 m9 l10">
      <center>
          <img class="intro"src="/assets/intro1.png" alt="busy"> <h3 class="intro_caption">급하게 나오느라 과제 인쇄를 못하셨나요?</h3>
      </center>
    </div>
    <div class="col s12 m9 l10">
        <center>
          <img class="intro" src="/assets/intro2.png" alt="late">
          <h3>인쇄소 앞 길게 늘어선 줄, 힘드신가요?</h3>
        </center>
    </div>
        <div class="col s12 m9 l10">
        <center>
          <img class="intro" src="/assets/intro3.png" alt="cppass">
          <h3>이제 기다리지 마세요!</h3>
          <p><h3><b style="color:#283593" >CPPASS</b>로 쉽고 빠르게 인쇄하세요</h3></p>

        
        <p><h2> &nbsp;  </h2></p>
        <p><h2> &nbsp;  </h2></p>

        <h3>당신의 <span style="color:#ff1744">현명한</span> 학교생활</h3>
        <h3><p><b style="color:#283593" >CPPASS</b>가 함께합니다.</p></h3>
        </center>
    </div>


  </div>

  <div class="sidechoice">
    <b>인쇄</b>
     <form action="#">
        <p>
          <input name="doubleside" type="radio" id="doubleside" />
          <label for="doubleside">양면</label>
        </p>
        <p>
          <input name="doubleside" type="radio" id="oneside" />
          <label for="oneside">단면</label>
        </p>
     </form>
     </div>
     <div class= "colorchoice">
        <b>색상</b>
        <form action="#">
            <p>
              <input name="color" type="radio" id="colored" />
              <label for="colored">컬러</label>
            </p>
            <p>
              <input name="color" type="radio" id="grey" />
              <label for="grey">흑백</label>
            </p>
          </form>
      </div>
      <b>용지</b>
      <div class= "paper_size input-field col s6">
          <select>
            <option value="" disabled selected>사이즈 선택</option>
            <option value="1">A4</option>
            <option value="2">B4</option>
            <option value="3">그 외...</option>
          </select>
      </div>
    <b>모아 찍기</b>
      <div class= "paper_size input-field col s6">
          <select>
            <option value="" disabled selected>1면</option>
            <option value="1">2면</option>
            <option value="2">4면</option>
            <option value="3">6면</option>
            <option value="3">9면</option>
          </select>
      </div>
      <b>인쇄소</b>
            <div class= "paper_size input-field col s6">
          <select>
            <option value="" disabled selected>선택</option>
            <option value="1">중앙도서관</option>
            <option value="2">사회대</option>
            <option value="3">동원관</option>
            <option value="4">학생회관</option>
            <option value="5">법대</option>
            <option value="6">사범대</option>
            <option value="7">공대</option>
            <option value="8">의대</option>
          </select>
      </div>


<script>  
$(document).ready(function() {
    $('select').material_select();
  });
  </script>